.records-button {
  border: none;
  padding: 10px 0;
  width: 100%;
  max-width: 150px;
  border-radius: 5px;
  color: white;
  font-size: 14px;
  font-weight: 600;
  background: #7166f9;
}

.records-button:hover {
  cursor: pointer;
}
