@use 'src/common/palett';

.password-page {
  display: flex;
  text-align: center;
  background-color: #f6f6fb;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
.password-container {
  height: 100%;
  width: 100%;
  align-items: center;
  display: flex;
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
}

form {
  width: 100%;
}

.password-content {
  width: 350px;
  display: block;
  margin: 0 auto;
  padding: 40px;
  background: palett.$secondary-background-color;
  border-radius: 20px;
  box-shadow: 0 0 2px 0 #42424214;
}

.password-toolbar {
  justify-content: center;
}
.mat-form-field {
  width: 100%;
  display: block;
}

.register-link {
  font-size: 15px;
}

.register {
  margin-top: 20px;
}

.mat-raised-button {
  width: 100%;
  height: 60px;
  margin-top: 15px;
  margin-bottom: 5px;
}

.title {
  display: block;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

.logo {

  width: 100%;
  position: relative;
  text-align: center;
  display: flex;
  justify-content: center;

  .password-logo {
    max-width: 250px;
  }
}

.notification-box {
  padding: 15px;
  border-radius: 5px;

  p {
    font-size: 16px;
    font-weight: 600;
    padding: 0;
    margin: 0 0 15px;
    color: white;
  }

  span {
    font-size: 14px;
    font-weight: 500;
    color: white;

    .restart-recovery {
      color: #5e53f7;
      cursor: pointer;
      font-weight: bold;
    }
  }

}

.step-error {
  background: #f36161eb;
}

.step-success {
  background: #169f16c2;
  margin-bottom: 25px;
}

