<section class="password-page">
  <div class="password-container">
    <div class="password-content">
      <div class="logo">
        <img alt="emetaplus-logo" class="password-logo" src="../../../assets/logo.png"/>
      </div>
      <h1 class="title" i18n="@@password-title">Password recovery</h1>

      <div *ngIf="firstStep" class="step-content">
        <form [formGroup]="firstStepForm">
          <mat-form-field appearance="outline">
            <mat-label i18n="@@password-email">Your email</mat-label>
            <input matInput formControlName="username" required>
            <mat-error *ngIf="firstStepForm.get('username')?.invalid" i18n="@@password-firstStep-emailError">Please set a valid email
            </mat-error>
          </mat-form-field>
          <div *ngIf="showLoader">
            <loader></loader>
          </div>
          <div class="notification-box step-error" *ngIf="firstStepError">
            <p i18n="@@password-firstStep-error-title">Password Recovery Failed!</p>
            <span i18n="@@password-firstStep-error-message">Looks like the user with current email address not found. <br> Please, check the email and try again.</span>
          </div>
          <button type="submit" mat-raised-button color="primary" (click)="onFirstStep()" i18n="@@password-recovery-start" [disabled]="actionStarted">Start Password Recovery</button>
        </form>
      </div>

      <div *ngIf="secondStep" class="step-content">
        <div *ngIf="firstStepSuccess" class="notification-box step-success">
          <p i18n="@@password-code-sent-title">Verification code sent!</p>
          <span i18n="@@password-code-sent-message">Please, check Your email address for your verification code</span>
        </div>
        <form [formGroup]="secondStepForm">
          <mat-form-field appearance="outline">
            <mat-label i18n="@@password-email">Your email</mat-label>
            <input matInput formControlName="username" required>
            <mat-error *ngIf="secondStepForm.get('username')?.invalid" i18n="@@password-secondStep-emailError">Please set a valid email
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label i18n="@@password-code">Your code</mat-label>
            <input matInput formControlName="code" required>
            <mat-error *ngIf="secondStepForm.get('code')?.invalid" i18n="@@password-secondStep-codeError">Please set a code
            </mat-error>
          </mat-form-field>
          <div *ngIf="showLoader">
            <loader></loader>
          </div>
          <div class="notification-box step-error" *ngIf="secondStepError">
            <p i18n="@@password-secondStep-error-title">Password Recovery Failed!</p>
            <span i18n="@@password-secondStep-error-message">Looks like your code is not valid or no longer available</span>
            <button mat-raised-button (click)="sendNewCode()" color="primary" i18n="@@password-secondStep-newCode-button">Send new code</button>
          </div>
          <button type="submit" mat-raised-button color="primary" (click)="onSecondStep()" i18n="@@password-code-verify" [disabled]="actionStarted">Verify Code</button>
        </form>
      </div>

      <div *ngIf="thirdStep" class="step-content">
        <div *ngIf="secondStepSuccess" class="notification-box step-success">
          <p i18n="@@password-code-verified-title">Verification succeed</p>
          <span i18n="@@password-code-verified-message">The code is verified. Now you can create the new password.</span>
        </div>
        <form [formGroup]="thirdStepForm">
          <mat-form-field appearance="outline">
            <mat-label i18n="@@password-email">Your email</mat-label>
            <input matInput formControlName="username" required>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label i18n="@@password-password">Your new password</mat-label>
            <input type="password" matInput formControlName="password" required>
            <mat-error *ngIf="thirdStepForm.get('password')?.invalid" i18n="@@password-passwordError">Please set a valid password
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label i18n="@@password-confirmPassword">Confirm your password</mat-label>
            <input type="password" matInput formControlName="confirmPassword" required  [errorStateMatcher]="matcher">
            <mat-error *ngIf="thirdStepForm.hasError('notSame')" i18n="@@password-confrimError">Passwords don't match
            </mat-error>
          </mat-form-field>
          <div *ngIf="showLoader">
            <loader></loader>
          </div>
          <div class="notification-box step-error" *ngIf="thirdStepError">
            <p i18n="@@password-thirdStep-error-title">Password Recovery Failed!</p>
            <span i18n="@@password-thirdStep-error-message">Looks like password recovery process is expired. Please, back to the <a class="restart-recovery" (click)="restartPasswordRecovery()">first step</a> and try again </span>
          </div>
          <button type="submit" mat-raised-button (click)="onThirdStep()" color="primary" i18n="@@password-recovery-final-button" [disabled]="actionStarted">Set new password</button>
        </form>
      </div>
      <div *ngIf="thirdStepSuccess" class="step-content">
        <div class="notification-box step-success">
          <p i18n="@@password-changed-title">Password successfully changed!</p>
          <span i18n="@@password-changed-message">Your password has been successfully changed. You can sign in now with new credentials.</span>
        </div>
        <button type="submit" mat-raised-button routerLink="../login" color="primary" i18n="@@password-changed-button" [disabled]="actionStarted">Login</button>
      </div>
      <a *ngIf="!thirdStepSuccess" routerLink="../login" i18n="@@password-login">Login</a>
    </div>
  </div>
</section>

