@use '/src/common/palett';
@use "sass:map";

@use '@angular/material' as mat;

.page {

  .container {
    min-width: 375px;
    background-color: palett.$container-background-color;
    margin: 0 auto;
    display: flex;
    min-height: 100vh;

    .main {
      flex: 1 1 auto;
      flex-direction: row;
      box-shadow: 3px 0 5px 1px palett.$secondary-text-color;

      .content {
        flex: 1 0 auto;
        padding: 0 40px;
      }

    }
  }
}
