<h1 mat-dialog-title>
  <ng-container *ngIf="!deck.id; else editMode" i18n="@@pages-deck-add-new">Deck Creation</ng-container>
  <ng-template #editMode>
    <span i18n="@@pages-deck-editing">
      Deck Editing
    </span>
  </ng-template>
</h1>
<div mat-dialog-content>
  <form [formGroup]="deckForm" class="deck-dialog-content">
    <mat-form-field appearance="outline">
      <mat-label i18n="@@pages-deck-name">Deck Name</mat-label>
      <input matInput formControlName="name" (input)="onValuesChange()" required>
      <mat-error *ngIf="deckForm.get('name')?.invalid" i18n="@@pages-deck-error-name">Please set a deck name</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label i18n="@@pages-deck-description">Deck Description</mat-label>
      <textarea matInput formControlName="description" (input)="onValuesChange()"></textarea>
    </mat-form-field>
    <mat-form-field>
      <mat-label i18n="@@pages-deck-categories">Categories</mat-label>
      <mat-select formControlName="categories" (selectionChange)="onValuesChange()" multiple>
        <mat-select-trigger>
          {{getCategoryName(deckForm.get('categories')?.value ? deckForm.get('categories')?.value![0] : '')}}
          <span *ngIf="(deckForm.get('categories')?.value?.length || 0) > 1" class="example-additional-selection">
            (+{{(deckForm.get('categories')?.value?.length || 0) - 1}} {{deckForm.get('categories')?.value?.length === 2 ? 'other' : 'others'}})
          </span>
        </mat-select-trigger>
        <mat-option *ngFor="let category of availableCategories" [value]="category.id">{{category.name}}</mat-option>
      </mat-select>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-stroked-button (click)="onClose()" i18n="@@pages-deck-cancel">Cancel</button>
  <button mat-flat-button color="primary" (click)="onSave()" [disabled]="saveDisabled" i18n="@@pages-deck-save">Save</button>
</div>
